<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Bucket List</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.dashboard">Dashboard</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.list">List</ion-item>
      </ion-list>
  </ion-side-menu>

</ion-side-menus>